body {
    background-color: #001848;
}
header {
    background-color: #001848;
    box-shadow: 2px 2px 2px 1px rgb(0, 3, 29);
    border-radius: 2%;
    padding: 15px 0 15px 15px;
}
.container {
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
} 
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 50px;
    margin-left: 0;
    text-align: center;
    font-family: Garamond;
  }

  .dropdown-content a {
    color: #001848;
    padding: 6px 8px;
    border-bottom: 1px solid #001848;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 2px;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

#sale {
    width: 15px;
    height: 15px;
    margin: 0;
}
/* Home icon */
.fa-home {
    margin-top: 6px;
    margin-left: 50px;
    padding: auto 5px;
    background-color: white;
    color: #001848;
    border-radius: 50%;
    font-size: 28px;
    width: 30px;
    text-align: center;
}

/* Left icon */
.fa-arrow-left, .fa-arrow-right {
    margin-top: 6px;
    margin-left: 5px;
    padding: auto 5px;
    background-color: white;
    color: #001848;
    border-radius: 50%;
    font-size: 28px;
    width: 30px;
    text-align: center;
}
.fas:hover {
    color: white;
    background-color: #001848;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Uzbek language */
#uz {
    background: linear-gradient(180deg, rgb(0, 183, 255) 0% 30%, red 30% 33%, white 33% 63%, red 63% 66%,green 66% 100%);
    border: none;
    color: rgb(39, 106, 252);
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 1px; 
    margin-right: 10px;
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
}

/* Russian language */
#en {
    background: linear-gradient(180deg, white 0% 33%, blue 33% 67%, red 67% 100%);
    border: none;
    color: rgb(39, 106, 252);
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 1px; 
    margin-right: 20px;
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
}


#sag {
    background: url(../carpet.jpg) center / cover no-repeat #48587a;
    background-blend-mode: overlay;
}

#lelit {
    background: url(../lelit-fon.jpg) center / cover no-repeat #48587a;
    background-blend-mode: overlay;
    content: 'Temporary unavailable';
}

ul {
    list-style-type: none;
    margin-left: 150px;
    margin-top: 20px;
}
li {
    margin-top: 1px;
    color: white;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 36px;
    
}
a {
    color: inherit;
    text-decoration: none;
}
.romb {
    margin-top: 1px;
    width: 30px;
    height: 30px;
}

 /* Footer */
 footer {
    background-color: #001848;
    /* box-shadow: 2px 2px 2px 1px rgb(0, 3, 29); */
    border-radius: 2%;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
    margin-top: 15px;
    margin-bottom: 6px;
}
.fa-shopping-cart {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 54px;
}

/* Social medias */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}
.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-instagram:hover {
    background: #5e4ec7;
    color: white;
}


/* For screens that equal to 1300px or wider */
@media (min-width: 1300px) {
    /* Header part */
    /* Main part */
    main {
        display: flex;
        flex-direction: row;
        margin-top: 6px;
    }

    #sag {
        margin-left: 10px;
        width: 50%;
        height: 700px;
    }
    /* #sag:hover {
        background-blend-mode: normal;
        transition: 0.3s all ease;
    } */
    #lelit {
        margin-left: 10px;
        width: 50%;
        height: 700px;
    }
    /* #lelit:hover {
        background-blend-mode: normal;
        transition: 0.3s all ease;
    } */
    #sag-section {
        width: 50%;
        margin-top: 20px;
        padding-top: 200px;
        margin-left: 150px;
        margin-bottom: 20px;
    } 
    #lelit-section {
        width: 50%;
        margin-top: 20px;
        margin-left: 250px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1299px) {
    
    main {
        display: block;
    }

    #sag {
        margin: 6px 5px 10px 10px;
        height: 600px;
    }
    #lelit {
        margin: 6px 5px 10px 10px;
        height: 600px;
    }
    #sag-section {
        display: block;
        width: 50%;
        padding-top: 200px;
        margin: 20px auto;
    } 
    #lelit-section {
        display: block;
        width: 50%;
        margin: 20px auto;
    }
    li  {
        font-size: 28px;
    }
    li:hover {
        font-size: 64px;
        transition: 1s all ease;
    }
}
@media screen and (max-width: 768px) {
    main {
        display: block;
    }
    #sag {
        margin: 6px 5px 10px 10px;
        height: 300px;
    }
    #lelit {
        margin: 6px 5px 10px 10px;
        height: 300px;
    }
    #sag-section {
        width: 70%;
        margin: 5px 40px;
    } 
    #lelit-section {
        width: 60%;
        margin: 5px 60px;
        height: 50%;
    }
    ul {
        margin-left: 40px;
    }
    li {
        font-size: 16px;
    }
    .romb {
        margin-top: 1px;
        width: 15px;
        height: 15px;
    }
}