body {
  background: url("../Image/isfahan1.jpg") no-repeat;
  background-position-x: 125px;
  background-position-y: 60px;
  background-size: 873px 582px;
}
#grid {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header"
                          "article nav aside"
                          "article nav aside"
                          "article nav aside"
                          "article nav aside"
                          "article nav aside"
                          "article nav aside"
                          "footer footer footer";
    grid-template-rows: 55px 1fr 1fr 1fr 1fr 1fr 1fr 75px;
    grid-template-columns: 120px 2fr 1fr;
    font-family: Arial;
    background-color: #001848;
    grid-gap: 5px;
  }
  #grid > header {
    grid-area: header
  }
  #grid > nav {
    grid-area: nav;
  }
  #grid > article {
    grid-area: article;
  }
  #grid > footer {
    grid-area: footer;
  }
  header {
    background-color: #001848;
    box-shadow: 2px 2px 2px 1px rgb(0, 3, 29);
    border-radius: 2%;
    padding: 15px;
    
  }
  h2 {
      color: white;
      font-family: 'Roboto Slab', serif;
  }
  aside {
    background-image: linear-gradient( 180deg, white , rgb(125, 159, 233));
    text-align: center;
    color: blue;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    box-shadow: inset 6px 6px 6px gray;
  }
  aside p {
    margin-left: 25px;
  }
  aside h2 {
    margin-left: 20px;
  }
   aside button {
    background-color: rgb(0, 16, 56);
    color: white;
    border-radius: 17px;
    width: 175px;
    height: 50px;
    margin-bottom: 25px;
    font-size: 15px;
  }
  aside i{
    color: lightcoral;
  }
  article  img {
    margin: 2px 0;
    width: 600%;
    height: 75px;
  }
  .container2 {
    width: 350px;
    
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {
    width: 100%; 
    background-color: #001848;
    margin-left: 50px;
    margin-right: 5px;
  }
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}

  .container {
    display: inline-block;
    position: absolute;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .fa-home {
    margin-top: 6px;
    margin-left: 50px;
    padding: auto 5px;
    background-color: white;
    color: #001848;
    border-radius: 50%;
    font-size: 28px;
    width: 30px;
    text-align: center;
  }
  .fa-arrow-left {
    margin-top: 6px;
    margin-left: 5px;
    padding: auto 5px;
    background-color: white;
    color: #001848;
    border-radius: 50%;
    font-size: 28px;
    width: 30px;
    text-align: center;
  }
  .fa-arrow-right {
    margin-top: 6px;
    margin-left: 5px;
    padding: auto 5px;
    background-color: white;
    color: #001848;
    border-radius: 50%;
    font-size: 28px;
    width: 30px;
    text-align: center;
  }
  .fas:hover {
    color: white;
    background-color: #001848;
    transition: 0.3s ease;
    cursor: pointer;
  }
  #uzb {
    background: linear-gradient(180deg, rgb(0, 183, 255) 0% 30%, red 30% 33%, white 33% 60%, red 63% 66%,green 66% 100%);
    border: none;
    color: rgb(39, 106, 252);
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 1px; 
    margin-right: 10px;
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
  }

  #rus {
    background: linear-gradient(180deg, white 0% 33%, blue 33% 67%, red 67% 100%);
    border: none;
    color: rgb(39, 106, 252);
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 1px; 
    margin-right: 20px;
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container1 {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: fixed;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 440px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .row {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  footer {
    background-color: #001848;
    box-shadow: 2px 2px 2px 1px rgb(0, 3, 29);
    border-radius: 2%;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
  }
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }

  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }

  .fa-instagram:hover {
    background: #5e4ec7;
    color: white;
  }
  